langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-ollama
sentence_transformers
chromadb
langchain_huggingface
faiss-cpu
beautifulsoup4
streamlit
langchain_groq
fastapi
uvicorn
langserve
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators
youtube-transcript-api
unstructured
pytube
numexpr
huggingface_hub
gradio